@use "variables" as *;
@use "mixins" as *;
@use "extends" as *;

* {
  box-sizing: border-box;
}

*::selection {
  color: $primary-bg-dark;
  background: $primary-body-dark;

  .light & {
    color: $primary-body-dark;
    background: $primary-bg-dark;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: $fontLeagueSpartan;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  color: $primary-body-dark;
  background-color: $primary-bg-dark;

  &.light {
    color: $primary-body-light;
    background-color: $primary-bg-light;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

p {
  padding-bottom: 2rem;
}

a {
  @include link;
}

ul {
  padding-left: 2rem;
  list-style: none;

  li {
    position: relative;
    padding-bottom: 1rem;
  }

  ul {
    padding-top: 1rem;
  }

  li {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

ol {
  padding-left: 2rem;
  list-style: none;

  li {
    position: relative;
    padding-bottom: 1rem;
  }

  ul {
    padding-top: 1rem;
  }

  li {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

sup {
  position: relative;
  top: -0.3rem;
  font-size: 1.2rem;
  line-height: 1;
}

sub {
  position: relative;
  bottom: 0.3rem;
  font-size: 1.2rem;
  line-height: 1;
}

img {
  @extend %responsiveImage;
  transition: all 1s ease-in;
}

.hide {
  display: block;
}

#{$button} {
  @include btn;
}

input[type=text] {
  padding: 1rem 1rem 0.8rem;
  font-family: $fontLeagueSpartan;
  font-size: 1.6rem;
  line-height: normal;
  color: $primary-body-dark;
  border: 1px solid $primary-body-dark;
  border-radius: 0.5rem;

  .light & {
    color: $primary-body-light;
    border-color: $primary-body-light;
  }
}

.visually-hidden {
  @include a11y-invisible;
}