// font family
$fontMerriweather: 'Merriweather';
$fontLeagueSpartan: 'League Spartan';

// colors
$black: #000;
$sharkOffset: #1b1c1f;
$shark: #1f2024;
$sharkLighter: #292a2f;
$tuna: #303138;
$osloGray: #93999C;
$white: #ffffff;
$bone: #e1ddbf;
$sage: #c6bf88;
$malibu: #7bacfc;
$funBlue: #1d4fa0;

// font colors
$primary-body-dark: $white;
$secondary-body-dark: $bone;
$tertiary-body-dark: $sage;

$primary-body-light: $shark;
$secondary-body-light: $sharkLighter;
$tertiary-body-light: $tuna;

// link
$primary-link-dark: $malibu;
$primary-link-light: $funBlue;

// background colors
$primary-bg-dark: $shark;
$secondary-bg-dark: $sharkLighter;
$tertiary-bg-dark: $tuna;

$primary-bg-light: $white;
$secondary-bg-light: $bone;
$tertiary-bg-light: $sage;

// icon colors
$primary-icon-dark: $white;

$primary-icon-light: $black;

// box-shadow
$primary-shadow-dark: $sharkOffset;

$primary-shadow-light: $bone;

// global variables
$button: (
  'button:not(.nostyle), .button, [type=submit], [type=reset], [type=button]'
  ) !default;

// media queries
$tabletLandscape: 'all and (min-width: 1024px)';
$tabletPotrait: 'all and (min-width: 768px)';