@use "@/assets/scss/variables" as *;

.list {
  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__cardContainer {
    .list__horizontalLayout & {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    width: 100%;
    max-width: 80rem;
    margin: 2rem auto;

    .list__horizontalLayout & {
      flex: 0 0 30rem;
      max-width: none;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  &__headerTitle {
    text-align: center;
  }

  &__header {
    position: relative;
  }

  &__title {
    padding: 1.5rem 0;
  }

  &__deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: larger;
    color: $primary-body-dark;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .light & {
      color: $primary-body-light;
    }
  }
}