.logo {
  flex: 0 1 11rem;

  &__link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
  }

  &__image {
    flex: 0 1 5rem;

    margin-right: 0.5rem;
  }
}