@use "../variables" as *;

.toggleLayout {
  display: inline-flex;
  cursor: pointer;

  &__icon {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;

    path {
      fill: $primary-icon-dark;

      .light & {
        fill: $primary-icon-light;
      }
    }
  }
}